<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/home-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"> <span>RZ</span> <br/> Electricidad Residencial</h2>
              <p class="animate__animated animate__fadeInUp">
                Sabemos lo importante que es contar con un servicio eléctrico de calidad, confianza y seguridad para tu hogar. Por eso, te ofrecemos una variedad de servicios eléctricos residenciales, desde instalaciones, reparaciones y mantenimientos, hasta asesorías, diseños y proyectos eléctricos personalizados
              </p>
              <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Saber más</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/home-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Calidad y Experiencia</h2>
              <p class="animate__animated animate__fadeInUp">
                Tenemos un equipo de expertos en electricidad, con amplia experiencia y formación, que te brindarán un servicio profesional y garantizado. Además, contamos con los mejores precios del mercado y excelente atención al cliente. No importa el tamaño o la complejidad de tu necesidad eléctrica, nosotros la resolvemos.
              </p>
              <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Servicios</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/home-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Estamos para Servir</h2>
              <p class="animate__animated animate__fadeInUp">
                Contamos con un personal altamente cualificado y equipado, que te garantizará un trabajo seguro, eficiente y asequible. Ya sea que necesites una reparación urgente, una revisión periódica o un proyecto eléctrico integral, estamos a tu disposición las 24 horas del día, los 7 días de la semana. Llámanos ahora y obtén tu cotización gratuita.
              </p>
              <a href="https://wa.me/573205063462?text=Hola%20necesito%20cotizar%20un%20servicio%20el%C3%A9ctrico." class="btn-get-started scrollto animate__animated animate__fadeInUp" target="_blank">Contactanos</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-double-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-double-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->
